a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-size: 11.5px;
}

a.active {
  background-color: rgb(59, 59, 59);
  border-radius: 3px;
}

main {
  margin-bottom: 15px;
}

@media (min-width: 769px) {
  a {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {

  main {
    min-height: 55vh;
  }
}