 .product-card p {
   font-size: 28px;
   color: white;
 }

 button {
   background-color: whitesmoke;
   color: black;
 }

 .card {
   max-width: 450px;

 }



 /*version mobile*/
 @media (max-width: 560px) {
   .product-card {
     max-width: 300px;
   }

   #carouselExampleCaptions {
     display: none;
   }
 }

 /*version tablet*/
 @media (max-width: 1023px) {
   .card {
     max-width: 310px;
   }

   #cardContainer {
     margin-left: 35px;
   }
 }

 /*dispositivos más grandes*/
 @media (min-width: 1024px) {

   #cardContainer {
     margin-left: 300px;
   }
 }