<div class="container mt-5">
  <h1 class="text-center">Finalizar Pago</h1>
  
  <form class="needs-validation" id="pago" [formGroup]="pagoFormulario" (ngSubmit)="enviarDatosPago()" novalidate>
    <div class="mb-3">
      <label class="form-label">Nombre del titular</label>
      <input type="text" class="form-control" formControlName="nombreTarjeta" required>
      <div *ngIf="pagoFormulario.get('nombreTarjeta')?.errors?.['required'] && pagoFormulario.get('nombreTarjeta')?.touched" class="text-danger">
        El nombre es requerido.
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Número de la Tarjeta</label>
      <input type="text" class="form-control" formControlName="numeroTarjeta" required>
      <div *ngIf="pagoFormulario.get('numeroTarjeta')?.errors?.['required'] && pagoFormulario.get('numeroTarjeta')?.touched" class="text-danger">
        El número de la tarjeta es requerido.
      </div>
      <div *ngIf="pagoFormulario.get('numeroTarjeta')?.errors?.['minlength'] && pagoFormulario.get('numeroTarjeta')?.touched" class="text-danger">
        El número de la tarjeta debe tener 16 dígitos.
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Fecha de Expiración (MM/AA)</label>
      <input type="text" class="form-control" formControlName="fechaExpiracion" required>
      <div *ngIf="pagoFormulario.get('fechaExpiracion')?.errors?.['required'] && pagoFormulario.get('fechaExpiracion')?.touched" class="text-danger">
        La fecha de expiración es requerida.
      </div>
      <div *ngIf="pagoFormulario.get('fechaExpiracion')?.errors?.['fechaInvalida'] && pagoFormulario.get('fechaExpiracion')?.touched" class="text-danger">
        La fecha de expiración no es válida.
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">CVV</label>
      <input type="text" class="form-control" formControlName="cvv" required>
      
      <div *ngIf="pagoFormulario.get('cvv')?.errors?.['required'] && pagoFormulario.get('cvv')?.touched" class="text-danger">
        El CVV es requerido.
      </div>
      <div *ngIf="pagoFormulario.get('cvv')?.errors?.['minlength'] && pagoFormulario.get('cvv')?.touched" class="text-danger">
        El CVV debe tener al menos 3 dígitos.
      </div>
    </div>

    <button type="submit"  class="ov-btn-slide-left" [disabled]="!pagoFormulario.valid">Pagar</button>

    <div *ngIf="mensaje" class="alert mt-3" [ngClass]="'alert-' + mensajeAlerta" role="alert">
      {{ mensaje }}
    </div>
  </form>
</div>
