
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main {

	font-family: "Poppins", sans-serif;


}

svg{
  margin-top: -10px;
}
h1{
  color: #000000;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-left: 40px;
}
h2{
  margin-top: 24px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 25px;
  margin-bottom: 15px;
}
nav ul {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 260px;
	position: fixed;
  overflow:scroll;
	top: 0;
	left: 0;
	background-color: #191919;
  z-index: 10;
  
}
nav ::-webkit-scrollbar {
  display: none;
}

nav ul li {
	list-style: none;
}
.nav-color{
  background-color: #191919;
}
nav ul li a {
	display: block;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	position: relative;
	padding: 25px 0 25px 38px;
}
nav ul li a:before {
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	width: 0%;
	height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg,
          rgba(252, 219, 3, 1) 0%,
          rgba(252, 219, 3, 1) 0%,
          rgba(252, 219, 3, 1) 100%,
          rgb(252, 219, 3, 1) 100%);
	border-radius: 40px 0px 0px 40px;
	z-index: -1;
	transition: all 300ms ease-in-out;
}
nav ul li a:hover {
	color: #000000;
  font-weight: 800;
  
}
nav ul li a:hover:before {
	width: 95%;
}
.wrapper {
	margin-left: 500px;
}
 section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 
 
  width: 700px;

  margin-top: 20px;
 }
.section {
	display: grid;
	place-items: center;
	min-height: 100vh;
	text-align: center;
}
.div-area h2 {
	text-transform: uppercase;
	font-size: 50px;
}
.div-area p {
	line-height: 2;
}
.div-area {
	width: 75%;
}
.logo {
	width: 150px;
	height: 150px;
	border-radius: 5%;
	overflow: hidden;
	margin: 25px auto;
}
.logo img {
	width: 100%;
}
.wrapper{
  display: flex;
  flex-direction: row;
 justify-content:space-between;
  align-items: center;
  margin: 20px;

  width: 500px;
 
}

/*================ PRODUCTOS ===========*/
.wrapper{

  width: 115%;
}
/*====== Botones styles ====*/
button {
  background: #fff;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 100px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
  border: solid 2px #000000;
}

span {
  display: inline-block;
  transform: skew(21deg);
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

button:hover {
  color: #fff;
}

button:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

.filtros {
  display: flex;
  flex-direction: row;

  width: 800px;
  justify-content: space-between;
}
/*tabla productos*/
table {
  width: 100%;
  border-collapse: collapse;
}

.header_fixed {
  max-height: 100vh;
  width: 100%;
  overflow: auto;

  color: #000000;
}

.header_fixed thead th {
  position: sticky;
  top: 0;
  background-color: black;
  color: black;
  font-size: 15px;
}

th,
td {
  border-bottom: 1px solid #dddddd;
  padding: 10px 20px;
  font-size: 14px;
}

td img {
  height: 60px;
  width: 60px;
  border-radius: 2%;
  border: 5px solid #e6e7e8;
}

tr:nth-child(even) {
  background-color: #2d3277;
}

tr:nth-child(odd) {
  background-color: #2d3277;
}


td button {
  border: none;
  padding: 7px 7px;
  border-radius: 20px;
  background-color: black;
  color: #e6e7e8;
}

.div-tabla{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  width: 800px;
  margin-top: 30px;
}
.filtros{
  background-color: #dddddd;
  height: 30px;
  color: #000000;
  width: 115%;
  border-radius: 2%;
}

.custom-text-color {
  color: blue; 
}