
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main {

	font-family: "Poppins", sans-serif;
 

}


.nav-color{
  display: flex;
  flex-direction: column;
  top: 0;
	left: 0;
  position:absolute;
  z-index: 30;
  max-height: 1000; 
  opacity: 1;
  
  transition: max-height 0.5s ease-out;
 
}
img{
  width: 80px;
}

.div-menu{
  height: 40px;
  width: 260px;

  

}


svg{
  margin-top: -10px;
}
h1{
  color: #000000;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-left: 40px;
}
h2{
  margin-top: 2px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 25px;
  margin-bottom: 2px;
  align-items: start;
  justify-content: end;
  height: 85px;
  display: block;

}

nav{
  display: flex;
  flex-direction: column;

 
}
nav ul {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 260px;
	position: relative;
  overflow:scroll;
	top: 0;
	left: 0;
	background-color: rgba(25, 25, 25, 0); 
  z-index: 30;
  transition:  3s;
 
}
nav ::-webkit-scrollbar {
  display: none;
}

nav ul li {
	list-style: none;
}
.nav-color{
  background-color: #191919;
}
nav ul li a {
	display: block;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	position: relative;
	padding: 25px 0 25px 38px;
}
nav ul li a:before {
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	width: 0%;
	height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg,
          rgba(252, 219, 3, 1) 0%,
          rgba(252, 219, 3, 1) 0%,
          rgba(252, 219, 3, 1) 100%,
          rgb(252, 219, 3, 1) 100%);
	border-radius: 40px 0px 0px 40px;
	z-index: -1;
	transition: all 300ms ease-in-out;
 
}
nav ul li a:hover {
	color: #000000;
  font-weight: 800;
  
}
nav ul li a:hover:before {
	width: 95%;
}
.wrapper {
	margin-left: 500px;
}
 section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 
 
  width: 700px;

  margin-top: 20px;
 }
.section {
	display: grid;
	place-items: center;
	min-height: 100vh;
	text-align: center;
}
.div-area h2 {
	text-transform: uppercase;
	font-size: 50px;
}
.div-area p {
	line-height: 2;
}
.div-area {
	width: 75%;
}
.logo {
	width: 150px;
	height: 150px;
	border-radius: 5%;
	overflow: hidden;
	margin: 25px auto;
}
.logo img {
	width: 100%;
}
.wrapper{
  display: flex;
  flex-direction: row;
 justify-content:space-between;
  align-items: center;
  margin: 20px;

  width: 500px;
 
}

/*================ boton dinamico ===========*/

.lbl-menu {
  width: 40px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  transform: scale(1.1);
  display: flex;
  left: 75%;
  top: 5px;
  justify-content: start;
  text-align: start;
  
  z-index: 50;
}
.menu-admin {
  margin-top: -100px;
}

.lbl-menu #spn1,
#spn2,
#spn3 {
  position: absolute;
  content: "";
  background: white;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  transition: all 400ms ease;
}
#spn2 {
  top: 12px;
}
#spn3 {
  top: 23px;
}
#btn-menu {
  display: none;
}
#btn-menu:checked ~ .lbl-menu #spn1 {
  transform: rotate(140deg);
  top: 10px;
}
#btn-menu:checked ~ .lbl-menu #spn2 {
  opacity: 0;
}
#btn-menu:checked ~ .lbl-menu #spn3 {
  transform: rotate(-140deg);
  top: 10px;
}
#btn-menu:checked ~ .div-menu {
  background-color: yellow; /* Cambia el color de fondo de .div-menu */
}
#btn-menu:checked ~ nav ul {
 
  opacity: 0;
  max-height: 0;
}



@media (max-width: 768px) {
  .nav-color {
    width: 50%;
    display: flex;
    top: 0%;
  }
  img{
    display: none;
  }
  nav ul {
    width: 100%;
  }

  section {
    width: 100%;
    margin: 0;
    padding: 10px;
  }

  h1 {
    font-size: 30px;
    margin-left: 0;
  }

  .div-menu {
    width: 100%;
    height: auto;
  }

  .wrapper {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
  .nav-color{
    max-height: 100%;
    overflow: scroll;
  }
}
