

<body>
  <div class="container mt-5">
    <div class="row">
      <!-- Card 1 -->
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-4">
        <div class="card">
          <img src="https://i.ibb.co/gtJmcWH/322383912-1320194095430905-2178580068362427696-n.jpg" class="card-img-top" alt="Card Image 1">
          <div class="card-body">
            <h5 class="card-title">Tarjeta Naranja</h5>
            <p class="card-text">6 cuotas cero interés </p>
            <button type="button" class="btn btn-warning " data-bs-toggle="modal" data-bs-target="#modal1">Ver más</button>
          </div>
        </div>
      </div>
      <!-- Modal 1 -->
      <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal1Label">Tarjeta Naranja</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="contenedor-imagen"><img src="https://cdn.icon-icons.com/icons2/1506/PNG/512/emblemdefault_103756.png" alt="exito" width="150px"></div>
            
            <div class="modal-body">
                
                {{informacionPromocion1}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-4">
        <div class="card">
          <img src="https://i.ibb.co/jHq2n5p/club-nacion.jpg" class="card-img-top" alt="Card Image 2">
          <div class="card-body">
            <h5 class="card-title">Club La Nacion</h5>
            <p class="card-text">20% de descuento con Club La Nacion</p>
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal2">Ver más</button>
          </div>
        </div>
      </div>
      <!-- Modal 2 -->
      <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal2Label">Club La Nacion</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="contenedor-imagen"><img src="https://cdn.icon-icons.com/icons2/1506/PNG/512/emblemdefault_103756.png" alt="exito" width="150px"></div>
            <div class="modal-body">
                {{informacionPromocion2}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-4">
        <div class="card">
          <img src="https://i.ibb.co/rwttz98/clublavoz.jpg" class="card-img-top" alt="Card Image 3">
          <div class="card-body">
            <h5 class="card-title">Club La Voz</h5>
            <p class="card-text">15% de descuento con Club La Voz</p>
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal3">Ver más</button>
          </div>
        </div>
      </div>
      <!-- Modal 3 -->
      <div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="modal3Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal3Label">Club La Voz</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="contenedor-imagen"><img src="https://cdn.icon-icons.com/icons2/1506/PNG/512/emblemdefault_103756.png" alt="exito" width="150px"></div>
            <div class="modal-body">
                {{informacionPromocion3}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-4">
        <div class="card">
          <img src="https://i.ibb.co/Qf36wYN/logo.png" class="card-img-top" alt="Card Image 4">
          <div class="card-body">
            <h5 class="card-title">Regalo de bienvenida</h5>
            <p class="card-text">20% de descuento en una compra</p>
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal4">Reclamar Cupón</button>
          </div>
        </div>
      </div>
      <!-- Modal 4 -->
      <div class="modal fade" id="modal4" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal4Label">Tu cupón es: BVN2024</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="contenedor-imagen"><img src="https://cdn.icon-icons.com/icons2/1506/PNG/512/emblemdefault_103756.png" alt="exito" width="150px"></div>
            <div class="modal-body">
                {{informacionPromocion4}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-4">
        <div class="card">
          <img src="https://i.ibb.co/Qf36wYN/logo.png" class="card-img-top" alt="Card Image 5">
          <div class="card-body">
            <h5 class="card-title">El libro de tus sueños</h5>
            <p class="card-text">25% de descuento en tu libro favorito</p>
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal5">Reclamar Cupón</button>
          </div>
        </div>
      </div>
      <!-- Modal 5 -->
      <div class="modal fade" id="modal5" tabindex="-1" aria-labelledby="modal5Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal5Label">Tu cupón es: 1WISH4YOU</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="contenedor-imagen"><img src="https://cdn.icon-icons.com/icons2/1506/PNG/512/emblemdefault_103756.png" alt="exito" width="150px"></div>
            <div class="modal-body">
                {{informacionPromocion5}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-4">
        <div class="card">
          <img src="https://i.ibb.co/26LXwqC/Portada-del-libro-Las-mil-y-una-noches.jpg" class="card-img-top" alt="Card Image 6">
          <div class="card-body">
            <h5 class="card-title">Libro de la semana</h5>
            <p class="card-text">Las mil y una noches</p>
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal6">Ver más</button>
          </div>
        </div>
      </div>
      <!-- Modal 6 -->
      <div class="modal fade" id="modal6" tabindex="-1" aria-labelledby="modal6Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal6Label">Libro de la semana</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="contenedor-imagen"><img src="https://cdn.icon-icons.com/icons2/1506/PNG/512/emblemdefault_103756.png" alt="exito" width="150px"></div>
            <div class="modal-body">
                {{informacionPromocion6}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

