#cartContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 18rem;
  transition: transform 0.3s ease-out;
}

.list-group-item {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 3px;
}

.list-group-item:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);

}

.badge {
  color: #000;
}

.card-header {
  background-color: #333;
  border-bottom: none;
}

.card-body {
  padding: 0.5rem;
  color: white;
  text-align: center;
}

.btn-light {
  background-color: #fff;
  color: #333;
  border: none;
}

.btn-light:hover {
  background-color: #ddd;
}

span {
  color: white;
  text-align: left;
  font-weight: bold;

}

.tm {
  color: white;
}

h5,
h4,
#carrito-total {
  color: rgba(252, 219, 3);
}