<!-- carrito.component.html -->
<div>
  <form (submit)="onSearch()">
    <input [(ngModel)]="searchTerm" placeholder="Buscar libros" name="search-input">
    <button type="submit">Buscar</button>
  </form>

  <div id="cardContainer">
    <div *ngFor="let book of books" class="product-card">
      <!-- Tu código HTML para mostrar libros -->
    </div>
  </div>

  <div id="carrito-lista">
    <h3>Carrito de Compras</h3>
    <ul>
      <li *ngFor="let item of carrito">
        {{ item.titulo }}
        <button (click)="eliminarDelCarrito(item.titulo)" class="btn btn-outline-danger">X</button>
      </li>
    </ul>
    <p>Total: $ {{ total }}</p>
  </div>
</div>
