<!-- Barra de búsqueda -->
<div class="contenedor">
    <input class="form-control " type="search" id="search-input" aria-label="Search" [(ngModel)]="consulta" [ngModelOptions]="{standalone: true}">
    <button class="btn btn-light" type="submit" (click)="enviarConsulta()">Buscar</button>
    <button id="clear-filters" class="btn btn-danger" >Quitar Filtros</button>
</div>

<div id="category-buttons"><button class="category-button">Novela</button>
    <button class="category-button">Infantil</button>
    <button class="category-button">Literatura</button>
    <button class="category-button">Religion</button>
    <button class="category-button">Ficcion</button>
    <button class="category-button">Romance</button>
    <button class="category-button">Clasicos</button>
    <button class="category-button">Fantasia</button>
    <button class="category-button">Poesia</button>
    <button class="category-button">Tragedia</button>
    <button class="category-button">Drama</button>
    <button class="category-button">Teatro</button>
    <button class="category-button">Cuentos</button>
    <button class="category-button">Ensayo</button>
    <button class="category-button">Ciencia ficcion</button>
    <button class="category-button">Epopeya</button></div>

        <!-- Botones para categorías -->
        <div id="filtered-cardContainer"></div>
