.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #ccc;
  border-radius: 5px;
}

.contenedor>* {
  margin-right: 10px;
}

input {
  width: 200px;
  border-radius: 3px;
  border-color: white;
}

.btn {
  white-space: nowrap;
  margin-left: 5px;
}

label {
  color: rgb(241, 238, 238);
  font-weight: bold;
  font-size: 20px;
  text-shadow: black;
}

select {
  border-radius: 3px;
  background-color: white;
  size: 20px;
  border-color: white;
}