<main>
  <div class="div__login">
    <h1>Bienvenido</h1>
    <form class="needs-validation" id="login" [formGroup]="loginFormulario" (ngSubmit)="onEnviar($event)">
      <div class="div__login-input">
        <input type="email" class="form__input form-control" id="email" name="email" required placeholder="Email"
          formControlName="email">
        <label for="floatingInput">Email</label>
        @if (Email?.errors && Email?.touched) {

        @if (Email?.hasError('required'))
        {
        <p class="text-danger">
          El email es requerido.
        </p>
        }
        @else if (Email?.hasError('email'))
        {
        <p class="text-danger">
          El formato del email debe ser válido.
        </p>
        }
        }
      </div>


      <div class="div__login-input">
        <input type="password" class="form__input form-control" id="contrasena" required minlength="8" maxlength="16"
          placeholder="Contraseña" formControlName="password">
        <label for="floatingPassword">Contraseña</label>

        @if(Password?.errors && Password?.touched)
        {
        @if(Password?.hasError('required'))
        {
        <p class="text-danger">
          La contraseña es requerida.
        </p>
        }
        @else if (Password?.hasError('minlength') )
        {
        <p class="text-danger">
          La contraseña requiere como mínimo 8 caracteres.
        </p>
        }
        }
      </div>

      <div class="div-botones">
        <button class="buton nav-link" type="submit">ingresar</button>
        <a class="registarse btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">registrarse</a>
      </div>
    </form>
  </div>


  <!-- Modal de Registro -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">Registro</h1>
          <button type="button" class="btn-close text-white bg-white nav-link" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <form class="needs-validation" id="registro" [formGroup]="registroFormulario"
          (ngSubmit)="enviarDatosRegistro($event)" novalidate>
          <div class="modal-body">
            <div class="col">
              <label class="form-label">Username</label>
              @if(Username?.errors && Username?.touched)
              {
              @if(Username?.hasError('required'))
              {
              <p class="text-danger">
                El username es requerido.
              </p>
              }}
              <input type="text" class="form-control" id="username" formControlName="username" required>

              <br>
            </div>

            <div class="col">
              <label class="form-label">Email</label>
              @if(Email?.errors && Email?.touched)
              {
              @if(Email?.hasError('required'))
              {
              <p class="text-danger">
                El email es requerido.
              </p>
              }}
              <input class="form-control" type="email" id="emailRegistro" formControlName="email" required>

            </div><br>

            <div class="col">
              <label class="form-label">Contraseña</label>
              @if(Password?.errors && Password?.touched)
              {
              @if(Password?.hasError('required'))
              {
              <p class="text-danger">
                La contraseña es requerida. Debe contener al menos 8 caracteres.
              </p>
              }}
              <input type="password" class="form-control" id="passwordContrasena" minlength="8"
                formControlName="password" required>

              <br>

              <label class="form-label">Repite contraseña</label>
              @if(RepetirPassword?.errors && RepetirPassword?.touched)
              {
              @if(RepetirPassword?.hasError('required'))
              {
              <p class="text-danger">
                Las contraseñas deben coincidir.
              </p>
              }}
              <input type="password" class="form-control" id="repetirPassword" minlength="8"
                formControlName="repetirPassword" required>
            </div>
          </div>
          <div class="modal-footer bg-dark">
            <input type="submit" class="btn btn-warning fw-semibold" value="Registrarse"
              [disabled]="!registroFormulario.valid">
            <div class="alert alert-success" id="alertaOk" role="alert" style="display: none;">
              ¡Registro realizado exitosamente!
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>