<main>
  <div class="div__login">
    <h1>Bienvenido</h1>




    <form class="needs-validation" id="login" novalidate [formGroup]="loginFormulario" (ngSubmit)="enviarDatosLogin()">




      <div class="div__login-input">
        <input type="text" class="form__input form-control" id="usuario" name="usuario" required minlength="4"
          maxlength="10" placeholder="Usuario" formControlName="usuario">
          @if (!Usuario?.value) {
            <p>El usuario es requerido.</p>
          }
          

    
        <div class="invalid-feedback">
          El Usuario es requerido y debe contener letras y números.
        </div>


      </div>


      <div class="div__login-input">
        <input type="password" class="form__input form-control" id="contrasena" required minlength="4" maxlength="16"
          placeholder="Contraseña" formControlName="contrasenia">
          @if (!Contrasenia?.value) {
            <p>La contraseña es requerida.</p>
          }
      </div>


      <div class="div-botones">
        <button class="buton" type="submit" [disabled]="!loginFormulario.valid">
          <span id="span1"></span>
          <span id="span2"></span>
          <span id="span3"></span>
          <span id="span4"></span>
          ingresar
        </button>
        <a href="#" class="registarse btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">registrarse
        </a>
      </div>
    </form>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">
            REGISTRO
          </h1>
          <button type="button" class="btn-close text-white bg-white" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <form class="needs-validation" id="registro" [formGroup]="registroFormulario" (ngSubmit)="enviarDatosRegistro()" novalidate>
          <div class="modal-body ">
            <div class="col">
              <label class="form-label">Usuario</label>
              <input type="text" class="form-control" id="registroUsuario" minlength="4" maxlength="10" formControlName="usuarioRegistro" required>
              <div class="form-text" id="basic-addon4">Solo letras y números entre 4 y 10 digitos.</div>
              <div class="invalid-feedback">
                Debe respetar el formato.
              </div>
              <br>
            </div>


            <div class="col">
              <label class="form-label">Email</label>
              <input class="form-control" type="email" id="registroCorreo" formControlName="email" required>
              <div class="invalid-feedback">
                Debe tener formato de correo valido.
              </div>
            </div><br>


            <div class="col">
              <label class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="registroContrasena" minlength="4" maxlength="16" formControlName="contraseniaRegistro"
                required>
              <div class="invalid-feedback">
                La contraseña debe tener al menos 4 caracteres.
              </div>
              <label class="form-label">Repite contraseña</label>
              <input type="password" class="form-control" id="registroContrasenaRepetir" minlength="4" maxlength="16" formControlName="repetirContrasenia"
                required>
              <div id="error-message" class="text-danger"></div>
            </div>
          </div>
          <div class="modal-footer bg-dark">
            <input type="submit" class="btn btn-warning fw-semibold" value="REGISTRARSE" id="registroBoton" [disabled]="!registroFormulario.valid">


            <div class="alert alert-success" id="alertaOk" role="alert" style="display: none;">
              Registro realizado exitosamente!
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
