 <main>
    <div class="container-form">
        <div class="info-form">
            <p>Estamos aquí para ti. Si tienes alguna pregunta, comentario o simplemente deseas hablar sobre tu
                libro
                favorito,
                no dudes en ponerte en contacto con nosotros. Estamos emocionados por compartir este viaje literario
                contigo.
                <br>
                <br>Gracias por elegir a <b>MercadoLibro</b> como tu destino literario.
                Juntos, exploraremos las páginas de historias inolvidables y crearemos recuerdos literarios que
                perdurarán
                para siempre.
                <br>
                <br>
                <br><i class="fa fa-phone"></i> 351-456-789
                <br><i class="fa fa-map-marked"></i> Cordoba, Argentina
                <br><i class="fab fa-facebook"></i> Facebook
                <br><i class="fab fa-instagram"></i> Instagram
                <br><i class="fab fa-twitter"></i> Twitter
                <br><i class="fab fa-linkedin"></i> Linkedin
            </p>
            <div class="card- mb-5" style="width: 18rem;" id="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6810.162386358719!2d-64.188053!3d-31.411889!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94329878c0a6ed7b%3A0x8bf3fafe13a10e62!2sAv.%20Col%C3%B3n%20350%2C%20X5022%20C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1693860118832!5m2!1ses!2sar"
                    width="300" height="97" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
            <div class="form-floating">
                <input type="text" formControlName="nombre" placeholder="Escribe tu Nombre" class="campo">
                @if (Nombre?.errors && Nombre?.touched) {
                @if (Nombre?.hasError('required'))
                {
                <p class="text-danger">
                    El nombre es requerido.
                </p>
                }
                }
            </div>
            <div class="form-floating">
                <input type=" email" formControlName="email" placeholder="Email" class="campo">
                @if (Mail?.errors && Mail?.touched) {
                @if (Mail?.hasError('required'))
                {
                <p class="text-danger">
                    El email es requerido.
                </p>
                }
                @else if (Mail?.hasError('email'))
                {
                <p class="text-danger">
                    El formato del email debe ser válido.
                </p>
                }
                }
            </div>
            <div class="form-floating">
                <textarea type="text" formControlName="mensaje" placeholder="Dejanos tu Mensaje..."></textarea>
                @if (Mensaje?.errors && Mensaje?.touched) {
                @if (Mensaje?.hasError('required'))
                {
                <p class="text-danger">
                    El mensaje es requerido.
                </p>
                }
                @else if (Mensaje?.hasError('mensaje'))
                {
                <p class="text-danger">
                    El máximo de carácteres es 400.
                </p>
                }
                }
                <input type="submit" formControlName="enviar" value="Enviar Mensaje" class="btn-enviar">
            </div>
        </form>
    </div>
</main>