<!-- <div *ngIf="order" class="order-status-card">
    <h3>Order Details</h3>
    <div class="order-info">
      <div class="order-field">
        <span class="order-label">Order ID:</span>
        <span class="order-value">{{ order.orderId }}</span>
      </div>
      <div class="order-field">
        <span class="order-label">Order Date:</span>
        <span class="order-value">{{ order.orderDate | date: 'short' }}</span>
      </div>
      <div class="order-field">
        <span class="order-label">Status:</span>
        <span class="order-value">{{ order.status }}</span>
      </div>
    </div>
  </div>
   -->
   <p>esto anda</p>