<div class="order-status-card">
  <h3>Detalles del Pedido</h3>
  <div class="order-info">
    <div class="order-field">
      <span class="order-label">Número de Pedido:</span>
      <span class="order-value">{{ order.orderId }}</span>
    </div>
    <div class="order-field">
      <span class="order-label">Estado:</span>
      <span class="order-value">{{ order.status }}</span>
    </div>
    
  </div>
  <!-- <img src="assets//Imagenes/motoazul.png" alt="azul"> -->
  <img src="assets//Imagenes/motoverde.png" alt="verde">
</div>
