<div class="formulario">
  <h2>Modificar Datos Personales</h2>

  <form [formGroup]="direccion" (ngSubmit)="onSubmit($event)">
    <div class="form-group">
      <input placeholder="Nombre" id="nombre" name="nombre" type="text" class="form-control" formControlName="nombre" />
      <div *ngIf="direccion.get('nombre')?.hasError('required')" class="text-danger">
        El nombre es obligatorio.
      </div>
      <input placeholder="Email" id="email" name="email" type="email" class="form-control" formControlName="email" />
      <div *ngIf="direccion.get('email')?.hasError('email')" class="text-danger">
        Introduce un email válido.
      </div>
    </div>

    <div class="form-group">
      <input placeholder="Dirección" id="direccion" name="direccion" type="text" class="form-control"
        formControlName="direccion" />
      @if(Direccion?.hasError('required')){
      <div class="text-danger">
        La dirección es obligatoria.
      </div>}
      <input placeholder="Ciudad" id="ciudad" name="ciudad" type="text" class="form-control" formControlName="ciudad" />
      @if(Ciudad?.hasError('required')){
      <div class="text-danger">
        La ciudad es obligatoria.
      </div>}
      <input placeholder="Provincia" id="provincia" name="provincia" type="text" class="form-control"
        formControlName="provincia" />
      @if(Provincia?.hasError('required')){
      <div class="text-danger">
        La provincia es obligatoria.
      </div>}
      <input placeholder="Código Postal" id="codigo_postal" name="codigo_postal" type="text" class="form-control"
        formControlName="codigo_postal" />
      @if(CodigoPostal?.hasError('required')){
      <div class="text-danger">
        El código postal es obligatorio.
      </div>}
    </div>


    <input type="submit" class="btn btn-primary btn-sm mt-3" value="Guardar cambios" [disabled]="!direccion.valid">
  </form>
</div>